/* You can add global styles to this file, and also import other style files */


/*--------------NAVBAR----------------*/

.container-fluid {
    height: 60px;
}

.d-flex {
    margin-left: 150px;
    margin-top: 10px;
}

.form-control {
    height: 30px;
    margin-top: 0px;
    font-size: 15px;
}

.btn {
    margin-bottom: 10px;
    height: 30px;
}

.nav-item {
    margin-left: 90px;
    margin-top: -3px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 30px;
    margin-top: -9px;
}


/*dropdown navbar*/

.nav-item1 {
    font-size: 18px;
    margin-left: 75px;
    margin-top: -3px;
}


/*---------X-----NAVBAR------X----------*/