/* You can add global styles to this file, and also import other style files */


/*--------------NAVBAR----------------*/

.container-fluid {
    height: 60px;
}

.d-flex {
    margin-left: 260px;
    margin-top: 10px;
}

.btn {
    margin-bottom: 10px;
    height: 30px;
}

.nav-item {
    margin-left: 90px;
    margin-top: -3px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 30px;
    margin-top: -3px;
}

.navbar-brand:hover {
    color: white;
}


/*dropdown navbar*/

.nav-item1 {
    font-size: 18px;
    margin-left: 20px;
    margin-top: -3px;
}

.nav-item-0 {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 240px;
    margin-right: -210px;
}

.nav-link:hover {
    color: white;
}

.nav-link {
    /*color: red;*/
    letter-spacing: .2rem;
}

.navbar {
    background-color: black;
    /*3px 3px 6px 1px;*/
    /*box-shadow: 3px 3px 6px 1px #292929;*/
}


/*LOGO*/

a.navbar-brand {
    font-size: 28px;
}


/*---------X-----NAVBAR------X----------*/
