<div class="jumbotron text-center">
    <h1 class="display-4">On-line University</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <br/>
        <button class="btn">Explore</button>
    </p>
</div>

<div class="container-2-fluid text-center">
    <h2 class="container-title"><b>La Innovaciòn a través de tu comunication digital</b></h2>


    <!----------------Blog Carousel---------------->



    <div class="owl-container">
        <div class="owl-carousel owl-theme">
            <div class="blog-content">
                <img src="./assets/Background/carousel-2.jpg" alt="post-1">
                <div class="blog-title">
                    <h3>Javascript</h3>
                    <button class="btn-blog">Buy now</button>
                    <span>Get your experience</span>
                </div>
            </div>
            <div class="blog-content">
                <img src="./assets/Background/carousel-2.jpg" alt="post-2">
                <div class="blog-title">
                    <h3>Python</h3>
                    <button class="btn-blog">Buy now</button>
                    <span>Get your experience</span>
                </div>
            </div>



        </div>
        <div class="owl-navigation">
            <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
            <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
        </div>
    </div>


    <!-- <button class="btn btn-primary" (click)="CallExternalJSFileFunction()">Call External Js Function</button> -->