<nav class="navbar navbar-expand-lg navbar-blue bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>

                <li class="nav-item1 dropdown ">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/course-1">Course-1</a>
                        <a class="dropdown-item" routerLink="/course-2">Course-2</a>
                        <a class="dropdown-item" routerLink="/course-3">Course-3</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/link">Separated link</a>
                    </div>
                </li>
                <li class="nav-item2">
                    <a class="nav-link" routerLink="/about">Logout</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control " type="text" placeholder="Search">
                <button class="btn btn-secondary " type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>