.navbar {
    height: 5rem;
    background-color: red;
    /*3px 3px 6px 1px;*/
    box-shadow: 3px 3px 6px 1px #292929;
}

.nav-link {
    margin-bottom: 0.9rem;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.nav-item a {
    color: rgb(255, 255, 255);
}

.nav-item a:hover {
    color: rgb(85, 74, 109);
}

.nav-item.dropdown-item a:hover {
    color: yellow;
}

.navbar-nav .ul {
    text-decoration: none;
}

.li a {
    color: white;
    cursor: pointer;
}

.navbar-brand {
    cursor: pointer;
    font-size: 19px;
    letter-spacing: .3rem;
    font-family: Oswald;
    padding-bottom: .4rem;
}

.d-flex {
    height: 10px;
    margin-right: -15px;
}

.form-control {
    margin-top: -13px;
    height: 28px;
}

.dropdown-item {
    font-size: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgb(230, 225, 225);
    /* rgb(212, 212, 212);*/
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    margin-top: 4px;
    background-color: red;
}