/*--------------NAVBAR----------------*/

.d-flex {
    margin-left: 230px;
}

.form-control {
    height: 35px;
}

.nav-item {
    margin-left: 90px;
    margin-top: 8px;
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
}


/*dropdown navbar*/

.nav-item1 {
    font-size: 20px;
    margin-left: 75px;
    margin-top: 8px;
}


/*---------X-----NAVBAR------X----------*/